/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto&subset=latin-ext");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.footer-logo, .footer-social-icons, .footer-input, .header-logo,
.social-nav,
.logo-squares,
.agenda-details,
.inspiration-wrapper .quote-author-wrapper,
.inspiration-wrapper .quote-wrapper,
.location,
.messages,
.support-wrapper,
.partners-wrapper, .slider-column-1, .slider-column-2, .slider-column-3, .overlay, .promo-links {
  box-sizing: border-box;
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  clear: both;
  margin-left: -15px;
  margin-right: -15px;
}
.header:after {
  content: " ";
  display: block;
  clear: both;
}

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: Futura;
  src: url(../fonts/FuturaPTBold.otf);
}
@font-face {
  font-family: FuturaExtra;
  src: url(../fonts/FuturaPTExtraBold.otf);
}
@font-face {
  font-family: Supply;
  src: url(../fonts/Supply-Regular.otf);
}
.header-logo .register-button {
  display: inline-block;
  margin: 2.25rem 0 3.75rem 2.375rem;
  padding: 1.375rem 4.125rem;
  border: 2px solid #fff;
  -moz-border-radius: 31px;
  -webkit-border-radius: 31px;
  border-radius: 31px;
  font-family: Lato, sans-serif;
  font-size: 1.125rem;
  line-height: 0.7;
  text-decoration: none;
  color: #fff;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
@media (max-width: 74.99em) {
  .header-logo .register-button {
    display: table;
    margin: 2.25rem auto 3.75rem auto;
  }
}
.header-logo .register-button:hover {
  background-color: #fff;
  color: #52f9ff;
}

.form .submit-button {
  margin-top: 1.0625rem;
  padding: 0.625rem 1.5rem;
  border: 2px solid #fff;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font-family: Lato, sans-serif;
  text-align: center;
  font-size: 0.8125rem;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
@media (max-width: 74.99em) {
  .form .submit-button {
    margin-bottom: 5.3125rem;
  }
}
.form .submit-button:hover {
  background-color: #fff;
  color: #152c6b;
}
.form .submit-button i {
  margin-right: 0.625rem;
}

.agenda-button {
  display: table;
  margin: 6.375rem auto 0 auto;
  padding: 0.5625rem 1.5625rem;
  border: 2px solid #152c6b;
  -moz-border-radius: 31px;
  -webkit-border-radius: 31px;
  border-radius: 31px;
  font-family: Supply, sans-serif;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.875rem;
  text-decoration: none;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  cursor: pointer;
  color: #152c6b;
}
.agenda-button:hover {
  color: #fff;
  background-color: #152c6b;
}
@media (max-width: 74.99em) {
  .agenda-button {
    margin: 0 auto;
  }
}
@media (max-width: 47.99em) {
  .agenda-button {
    font-size: 1.25rem;
  }
}

.footer-input form .submit-button {
  width: 28%;
  height: 3rem;
  -moz-border-radius: 0 24px 24px 0;
  -webkit-border-radius: 0;
  border-radius: 0 24px 24px 0;
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 1rem;
  background-color: #52f9ff;
  color: #fff;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.footer-input form .submit-button:hover {
  background-color: #fff;
  color: #52f9ff;
}
@media (max-width: 74.99em) {
  .footer-input form .submit-button {
    width: 20%;
    margin-left: -0.25rem;
  }
}
@media (max-width: 47.99em) {
  .footer-input form .submit-button {
    width: 28%;
  }
}

.slider-wrapper {
  position: relative;
}
@media (max-width: 74.99em) {
  .slider-wrapper {
    margin-top: 3.4375rem;
  }
}

.owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
@media (max-width: 47.99em) {
  .owl-dots {
    display: none;
  }
}

.owl-dot {
  display: inline-block;
  margin: 4.0625rem 1.875rem;
}
@media (max-width: 61.99em) {
  .owl-dot {
    margin: 4.0625rem 1.25rem;
  }
}
.owl-dot:first-child {
  margin-left: 0;
}
.owl-dot:last-child {
  margin-right: 0;
}
.owl-dot span {
  display: inline-block;
  font-family: Supply, sans-serif;
  font-size: 1.75rem;
  text-transform: uppercase;
  text-decoration: line-through;
  color: #9494ac;
}
@media (max-width: 61.99em) {
  .owl-dot span {
    font-size: 1.4375rem;
  }
}
.owl-dot span:before, .owl-dot span:after {
  content: "\00a0";
}

.active span {
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  text-decoration: none;
  color: #fff;
}

.owl-item {
  background-color: #4461ad;
  height: 36.875rem;
}
@media (max-width: 47.99em) {
  .owl-item {
    height: 26.25rem;
  }
}

.carousel-slot::after {
  clear: both;
  content: "";
  display: block;
}

.slider-inner {
  position: absolute;
  width: 1170px;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0 auto;
  padding-top: 13.625rem;
}
@media (max-width: 74.99em) {
  .slider-inner {
    position: static;
    width: 100%;
    padding-top: 3.125rem;
  }
}
@media (max-width: 47.99em) {
  .slider-inner {
    padding-top: 1.25rem;
  }
}
.slider-inner .title, .slider-inner .sub-title {
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 74.99em) {
  .slider-inner .title, .slider-inner .sub-title, .slider-inner .date {
    display: block;
    text-align: center;
  }
}
.slider-inner .sub-title, .slider-inner .date {
  font-family: Supply, sans-serif;
}
.slider-inner .title, .slider-inner .date {
  padding-left: 1.5625rem;
  line-height: 0.85;
}
@media (max-width: 74.99em) {
  .slider-inner .title, .slider-inner .date {
    padding-left: 0;
  }
}
.slider-inner .title {
  font-family: FuturaExtra, sans-serif;
  font-size: 3.75rem;
}
@media (max-width: 47.99em) {
  .slider-inner .title {
    font-size: 2.9375rem;
  }
}
.slider-inner .date {
  font-size: 1.75rem;
  color: #9494ac;
}
@media (max-width: 74.99em) {
  .slider-inner .date {
    padding-top: 0.625rem;
  }
}
.slider-inner .sub-title {
  padding-top: 1.875rem;
  font-size: 3.5625rem;
  float: right;
}
@media (max-width: 74.99em) {
  .slider-inner .sub-title {
    float: none;
    padding-top: 1.25rem;
  }
}
@media (max-width: 47.99em) {
  .slider-inner .sub-title {
    float: none;
    padding-top: 0.625rem;
    font-size: 2.8125rem;
  }
}
.slider-inner .description {
  display: block;
  width: 100%;
  margin-top: 1.875rem;
  font-family: Lato, sans-serif;
  font-size: 1.375rem;
  text-align: right;
  line-height: 1.3;
  color: #fff;
}
@media (max-width: 74.99em) {
  .slider-inner .description {
    text-align: center;
  }
}
@media (max-width: 47.99em) {
  .slider-inner .description {
    margin-top: 0.9375rem;
    font-size: 1rem;
  }
}

.background-1, .background-2, .background-3, .background-4, .background-5, .background-6, .background-7, .background-8, .background-9, .background-10 {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-color: #4461ad;
  height: 36.875rem;
}
@media (max-width: 47.99em) {
  .background-1, .background-2, .background-3, .background-4, .background-5, .background-6, .background-7, .background-8, .background-9, .background-10 {
    height: 26.25rem;
  }
}
.background-1 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url(../img/web.png);
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2))), url(../img/web.png);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/web.png);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/web.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/web.png);
}
.background-2 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url(../img/apps.png);
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2))), url(../img/apps.png);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/apps.png);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/apps.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/apps.png);
}
.background-3 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url(../img/vr.png);
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2))), url(../img/vr.png);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/vr.png);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/vr.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/vr.png);
}
.background-4 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url(../img/3d.png);
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2))), url(../img/3d.png);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/3d.png);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/3d.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/3d.png);
}
.background-5 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url(../img/big-data.png);
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2))), url(../img/big-data.png);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/big-data.png);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/big-data.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/big-data.png);
}
.background-6 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url(../img/workshop.png);
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2))), url(../img/workshop.png);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/workshop.png);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/workshop.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/workshop.png);
}
.background-7 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url(../img/hackathon.png);
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2))), url(../img/hackathon.png);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/hackathon.png);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/hackathon.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/hackathon.png);
}

.header,
.agenda-wrapper,
.contacts-wrapper,
.footer-wrapper {
  padding: 0 15px;
  margin: 0 auto;
}

.footer {
  max-width: 1170px;
  max-width: 73.125rem;
  margin-left: auto;
  margin-left: auto;
  margin-right: auto;
  margin-right: auto;
}
.footer:after {
  content: " ";
  display: block;
  clear: both;
}

.footer-logo, .footer-social-icons {
  width: 100%;
}
@media (min-width: 48em) {
  .footer-logo, .footer-social-icons {
    width: 100%;
  }
}
@media (min-width: 75em) {
  .footer-logo, .footer-social-icons {
    width: 25%;
  }
}

.footer-input {
  width: 100%;
}
@media (min-width: 48em) {
  .footer-input {
    width: 100%;
  }
}
@media (min-width: 75em) {
  .footer-input {
    width: 50%;
  }
}

.agenda,
.inspiration-wrapper,
.sponsors-section,
.header-bottom-wrapper,
.nav-wrapper,
.contacts {
  max-width: 1170px;
  max-width: 73.125rem;
  margin-left: auto;
  margin-left: auto;
  margin-right: auto;
  margin-right: auto;
  border-left: 1px solid #d5dce2;
  border-right: 1px solid #d5dce2;
}
.agenda:after,
.inspiration-wrapper:after,
.sponsors-section:after,
.header-bottom-wrapper:after,
.nav-wrapper:after,
.contacts:after {
  content: " ";
  display: block;
  clear: both;
}
@media (max-width: 74.99em) {
  .agenda,
  .inspiration-wrapper,
  .sponsors-section,
  .header-bottom-wrapper,
  .nav-wrapper,
  .contacts {
    border: none;
  }
}

.header-logo,
.social-nav,
.logo-squares,
.agenda-details,
.inspiration-wrapper .quote-author-wrapper,
.inspiration-wrapper .quote-wrapper,
.location,
.messages,
.support-wrapper,
.partners-wrapper {
  width: 100%;
}
@media (min-width: 48em) {
  .header-logo,
  .social-nav,
  .logo-squares,
  .agenda-details,
  .inspiration-wrapper .quote-author-wrapper,
  .inspiration-wrapper .quote-wrapper,
  .location,
  .messages,
  .support-wrapper,
  .partners-wrapper {
    width: 100%;
  }
}
@media (min-width: 75em) {
  .header-logo,
  .social-nav,
  .logo-squares,
  .agenda-details,
  .inspiration-wrapper .quote-author-wrapper,
  .inspiration-wrapper .quote-wrapper,
  .location,
  .messages,
  .support-wrapper,
  .partners-wrapper {
    width: 50%;
  }
}

.slider-column-1 {
  width: 100%;
}
@media (min-width: 48em) {
  .slider-column-1 {
    width: 100%;
  }
}
@media (min-width: 75em) {
  .slider-column-1 {
    width: 50%;
  }
}
.slider-column-2 {
  width: 100%;
}
@media (min-width: 48em) {
  .slider-column-2 {
    width: 100%;
  }
}
@media (min-width: 75em) {
  .slider-column-2 {
    width: 50%;
  }
}
.slider-column-3 {
  width: 100%;
}
@media (min-width: 48em) {
  .slider-column-3 {
    width: 100%;
  }
}
@media (min-width: 75em) {
  .slider-column-3 {
    width: 100%;
  }
}

.header {
  padding: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4zIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url(../img/background.png);
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3))), url(../img/background.png);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/background.png);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/background.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/background.png);
  background-size: cover;
  background-position: center;
}
.header-top-wrapper {
  border-bottom: 1px solid #d5dce2;
}
.header-logo {
  padding: 14.375rem 0 0 0;
  border-right: 1px solid #d5dce2;
}
@media (max-width: 74.99em) {
  .header-logo {
    border: none;
    padding: 6.25rem 0 0 0;
  }
}
.header-logo .title, .header-logo .sub-title {
  color: #fff;
}
.header-logo .title {
  font-family: FuturaExtra, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.header-logo .title span {
  color: #52f9ff;
}
.header-logo .sub-title {
  display: block;
  margin: 1.4375rem 0 0 2.375rem;
  font-family: Lato, sans-serif;
  line-height: 1.35;
  font-weight: 700;
}
@media (max-width: 74.99em) {
  .header-logo .sub-title {
    margin: 1.4375rem auto 0 auto;
    padding: 0 0.9375rem;
    text-align: center;
  }
}

.nav::after {
  clear: both;
  content: "";
  display: block;
}

.social-nav {
  padding: 1.25rem 0.9375rem 1.25rem 1.5625rem;
  border-right: 1px solid #d5dce2;
}
@media (max-width: 74.99em) {
  .social-nav {
    border: none;
  }
}
.social-nav li {
  display: inline-block;
  margin: 0 0.3125rem;
}
.social-nav li a {
  padding: 0 0.3125rem;
}
.social-nav li i {
  font-size: 1.25rem;
  color: #fff;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.social-nav li i:hover {
  color: #52f9ff;
}

.location-wrapper {
  border-top: 1px solid #d5dce2;
  border-bottom: 1px solid #d5dce2;
  margin: 0 0 3.75rem 0;
}
.location-wrapper ul {
  display: table;
  margin: 0 auto;
  padding: 2rem 0;
}
.location-wrapper ul li {
  display: inline-block;
  font-family: Supply, sans-serif;
  font-size: 1.125rem;
  color: #fff;
}
@media (max-width: 47.99em) {
  .location-wrapper ul li {
    display: block;
    margin: 0.3125rem 0;
  }
}
.location-wrapper ul .slash {
  margin: 0 1.25rem;
}
@media (max-width: 47.99em) {
  .location-wrapper ul .slash {
    display: none;
  }
}

.logo-squares {
  margin: 4.125rem 0 0 0;
  border-top: 1px solid #d5dce2;
  padding: 9.8125rem 0 0 0;
}
@media (max-width: 74.99em) {
  .logo-squares {
    margin: 0;
    padding: 0 0 3.75rem 0;
    border: none;
  }
}
@media (max-width: 47.99em) {
  .logo-squares .wrapper-1, .logo-squares .wrapper-2 {
    width: 146px;
    border: 2px solid #fff;
  }
}
@media (max-width: 47.99em) {
  .logo-squares .wrapper-1 {
    float: right;
  }
}
@media (max-width: 47.99em) {
  .logo-squares .wrapper-2 {
    float: left;
    position: relative;
    right: 0.125rem;
  }
}
.logo-squares ul {
  width: 399px;
  display: table;
  margin: 0 auto;
}
@media (max-width: 47.99em) {
  .logo-squares ul {
    width: 95%;
  }
}
.logo-squares ul li {
  position: relative;
  display: block;
  border: 2px solid #fff;
}
@media (max-width: 47.99em) {
  .logo-squares ul li {
    border: none;
  }
}
.logo-squares ul li span {
  display: block;
  color: #fff;
}
.logo-squares ul li .titles {
  padding: 6.875rem 0 0 0;
}
@media (max-width: 47.99em) {
  .logo-squares ul li .titles {
    padding: 5.5rem 0 0.625rem 0.625rem;
  }
}
.logo-squares ul li .number, .logo-squares ul li .sub-title {
  font-family: Lato, sans-serif;
  font-size: 1.125rem;
}
.logo-squares ul li .number {
  position: absolute;
  right: 0;
  padding: 0 0.9375rem 0 0;
  font-weight: 700;
}
@media (max-width: 47.99em) {
  .logo-squares ul li .number {
    padding: 0.625rem 0.625rem 0 0;
  }
}
.logo-squares ul li .title {
  font-family: Futura, sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
}
.logo-squares ul .first-square {
  float: left;
  padding: 0.9375rem 3.25rem 1.4375rem 1.6875rem;
}
@media (max-width: 47.99em) {
  .logo-squares ul .first-square {
    width: 50%;
    padding: 0;
  }
}
.logo-squares ul .second-square {
  bottom: 0.125rem;
  float: right;
  clear: left;
  padding: 0.9375rem 6rem 1.4375rem 1.6875rem;
}
@media (max-width: 47.99em) {
  .logo-squares ul .second-square {
    width: 50%;
    padding: 0;
  }
}

.sponsors-section .support, .sponsors-section .partners-wrapper {
  height: 15.625rem;
  display: table;
}
@media (max-width: 74.99em) {
  .sponsors-section .support, .sponsors-section .partners-wrapper {
    padding: 1.875rem 0;
    height: 10.9375rem;
  }
}
.sponsors-section .support .title, .sponsors-section .support .list, .sponsors-section .partners-wrapper .title, .sponsors-section .partners-wrapper .list {
  display: table-cell;
}
@media (max-width: 74.99em) {
  .sponsors-section .support .title, .sponsors-section .support .list, .sponsors-section .partners-wrapper .title, .sponsors-section .partners-wrapper .list {
    display: initial;
  }
}
.sponsors-section .support .title, .sponsors-section .partners-wrapper .title {
  width: 250px;
  vertical-align: middle;
  font-family: Supply, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #152c6b;
}
@media (max-width: 74.99em) {
  .sponsors-section .support .title, .sponsors-section .partners-wrapper .title {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
  }
}
.sponsors-section .support .list, .sponsors-section .partners-wrapper .list {
  vertical-align: middle;
  text-align: center;
}
@media (max-width: 74.99em) {
  .sponsors-section .support .list, .sponsors-section .partners-wrapper .list {
    display: table;
    margin: 1.25rem auto 0 auto;
  }
}
.sponsors-section .support .list li, .sponsors-section .partners-wrapper .list li {
  display: inline-block;
  text-align: center;
}
@media (max-width: 74.99em) {
  .sponsors-section .support .list li, .sponsors-section .partners-wrapper .list li {
    width: 50%;
  }
}
.sponsors-section .support .list li img, .sponsors-section .partners-wrapper .list li img {
  margin-right: 1.5625rem;
}
@media (max-width: 74.99em) {
  .sponsors-section .support .list li img, .sponsors-section .partners-wrapper .list li img {
    margin: 0;
    padding: 0 0.9375rem;
  }
}
@media (max-width: 47.99em) {
  .sponsors-section .support .list li img, .sponsors-section .partners-wrapper .list li img {
    margin: 0;
    padding: 0 0.9375rem;
  }
}
.sponsors-section .strategy {
  margin-top: 5.5rem;
}
@media (max-width: 74.99em) {
  .sponsors-section .strategy {
    margin: 1.875rem 0;
  }
}
.sponsors-section .strategy ul.list li {
  vertical-align: initial;
}
@media (max-width: 47.99em) {
  .sponsors-section .strategy ul.list li {
    display: table-cell;
  }
}
.sponsors-section .strategy ul.list img {
  width: 5.625rem;
}
@media (max-width: 74.99em) {
  .sponsors-section .strategy ul.list img {
    width: 35%;
  }
}
@media (max-width: 47.99em) {
  .sponsors-section .strategy ul.list img {
    width: 40%;
  }
}
@media (max-width: 74.99em) {
  .sponsors-section .support {
    display: inherit;
  }
}
.sponsors-section .support ul.list li {
  vertical-align: initial;
}
@media (max-width: 47.99em) {
  .sponsors-section .support ul.list li {
    display: table-cell;
  }
}
.sponsors-section .support ul.list .support-row {
  width: initial;
}
.sponsors-section .support ul.list img {
  width: 7.5rem;
}
@media (max-width: 47.99em) {
  .sponsors-section .support ul.list img {
    width: 40%;
  }
}
.sponsors-section .partners-wrapper .partners {
  margin-top: 1.25rem;
}
.sponsors-section .partners-wrapper ul li {
  vertical-align: middle;
}
.sponsors-section .partners-wrapper ul img {
  width: 7.5625rem;
}
@media (max-width: 74.99em) {
  .sponsors-section .partners-wrapper ul img {
    width: 20%;
  }
}
@media (max-width: 47.99em) {
  .sponsors-section .partners-wrapper ul img {
    width: 30%;
  }
}

.support-wrapper {
  border-right: 1px solid #d5dce2;
  padding-bottom: 3.125rem;
}
.support-wrapper::after {
  clear: both;
  content: "";
  display: block;
}
@media (max-width: 74.99em) {
  .support-wrapper {
    border: none;
  }
}
@media (max-width: 47.99em) {
  .support-wrapper {
    padding-bottom: 0;
  }
}

.inspiration-wrapper .quote-author-wrapper, .inspiration-wrapper .quote-wrapper {
  padding: 8.125rem 5.3125rem 3.1875rem 3.5625rem;
}
.inspiration-wrapper .quote-author-wrapper {
  padding-left: 2.8125rem;
  border-right: 1px solid #d5dce2;
}
@media (max-width: 74.99em) {
  .inspiration-wrapper .quote-author-wrapper {
    float: none;
    border: none;
    padding: 4.5rem 0 0 0;
    text-align: center;
  }
}
@media (max-width: 74.99em) {
  .inspiration-wrapper .quote-author-wrapper .quote-author {
    display: inline-block;
  }
}
.inspiration-wrapper .quote-author-wrapper .quote-author-item {
  display: table-cell;
  vertical-align: middle;
}
@media (max-width: 74.99em) {
  .inspiration-wrapper .quote-author-wrapper .quote-author-item {
    text-align: left;
  }
}
@media (max-width: 47.99em) {
  .inspiration-wrapper .quote-author-wrapper .quote-author-item {
    display: block;
  }
}
.inspiration-wrapper .quote-author-wrapper img {
  max-width: 15.3125rem;
  padding: 0.9375rem;
  border: 1px solid #d5dce4;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
@media (max-width: 47.99em) {
  .inspiration-wrapper .quote-author-wrapper img {
    display: block;
    margin: 0 auto;
  }
}
.inspiration-wrapper .quote-author-wrapper .author-information li, .inspiration-wrapper .quote-author-wrapper .author-name, .inspiration-wrapper .quote-author-wrapper .quote {
  font-family: Lato, sans-serif;
  color: #152b6b;
}
.inspiration-wrapper .quote-author-wrapper .author-name {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.25rem;
}
.inspiration-wrapper .quote-author-wrapper .author-information li {
  font-size: 1.125rem;
  line-height: 1.875rem;
}
.inspiration-wrapper .quote-author-wrapper .author-information li a {
  color: #152b6b;
}
.inspiration-wrapper .quote-author-wrapper .author-details {
  padding-left: 2.1875rem;
}
@media (max-width: 47.99em) {
  .inspiration-wrapper .quote-author-wrapper .author-details {
    display: block;
    padding: 0;
    text-align: center;
  }
}
.inspiration-wrapper .quote-author-wrapper .circle-list {
  margin: 1.9375rem 0 0 0;
}
.inspiration-wrapper .quote-author-wrapper .circle-list li {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0 0.3125rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #d5dce4;
}
.inspiration-wrapper .quote-wrapper {
  position: relative;
  left: -0.0625rem;
  border-left: 1px solid #d5dce2;
}
@media (max-width: 74.99em) {
  .inspiration-wrapper .quote-wrapper {
    padding: 3.125rem 3.75rem 3.1875rem 3.75rem;
  }
}
@media (max-width: 47.99em) {
  .inspiration-wrapper .quote-wrapper {
    padding: 3.125rem 1.25rem 3.1875rem 1.25rem;
  }
}
.inspiration-wrapper .quote-wrapper .quote {
  font-family: Lato, sans-serif;
  line-height: 2.5rem;
  color: #152b6b;
}
.inspiration-wrapper .quote-wrapper .triangle {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 50%;
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  border-top: 24px solid transparent;
  border-left: 24px solid #d5dce4;
  border-bottom: 24px solid transparent;
}
@media (max-width: 74.99em) {
  .inspiration-wrapper .quote-wrapper .triangle {
    display: none;
  }
}

.agenda-wrapper {
  border-top: 1px solid #d5dce2;
}

.agenda {
  padding-bottom: 0.75rem;
}

.agenda-details {
  padding-left: 2.5rem;
}
@media (max-width: 74.99em) {
  .agenda-details {
    padding: 0;
  }
}
.agenda-details:last-child {
  padding-left: 0;
}
.agenda-details .agenda-info, .agenda-details .session-info li, .agenda-details .session-info li a {
  color: #9494ac;
  font-family: Supply, sans-serif;
  text-transform: uppercase;
}
@media (max-width: 74.99em) {
  .agenda-details .agenda-info, .agenda-details .title, .agenda-details .session-info {
    text-align: center;
  }
}
.agenda-details .agenda-info {
  padding: 3.4375rem 0 0 0;
  font-size: 1.125rem;
}
.agenda-details .title {
  padding: 1.75rem 0 0 0;
  font-family: FuturaExtra, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #152c6b;
}
.agenda-details .session-info {
  padding: 1.4375rem 0 3.625rem 0;
}
@media (max-width: 47.99em) {
  .agenda-details .session-info {
    padding-bottom: 1.875rem;
  }
}
.agenda-details .session-info li {
  display: inline-block;
  font-size: 1.125rem;
}
@media (max-width: 47.99em) {
  .agenda-details .session-info li {
    display: block;
    margin: 0.625rem 0;
  }
}
.agenda-details .session-info li a {
  vertical-align: top;
  text-decoration: none;
  text-transform: lowercase;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.agenda-details .session-info li a:hover {
  color: #152c6b;
}
.agenda-details .session-info .separator {
  margin: 0 0.625rem;
}
@media (max-width: 47.99em) {
  .agenda-details .session-info .separator {
    display: none;
  }
}

.agenda-schedule {
  width: 100%;
}

.agenda-2 {
  padding: 0.9375rem 0 0 0;
}

.page {
  max-width: 1170px;
  max-width: 73.125rem;
  margin-left: auto;
  margin-left: auto;
  margin-right: auto;
  margin-right: auto;
}
.page:after {
  content: " ";
  display: block;
  clear: both;
}

.overlay, .promo-links {
  width: 100%;
}
@media (min-width: 48em) {
  .overlay, .promo-links {
    width: 100%;
  }
}
@media (min-width: 75em) {
  .overlay, .promo-links {
    width: 50%;
  }
}

.contacts-wrapper {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzE1MmM2YiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(0deg, #ffffff 50%, #152c6b 50%);
  background-image: -webkit-linear-gradient(0deg, #ffffff 50%, #152c6b 50%);
  background-image: linear-gradient(90deg, #ffffff 50%, #152c6b 50%);
}
@media (max-width: 74.99em) {
  .contacts-wrapper {
    padding: 0;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTUyYzZiIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -moz-linear-gradient(0deg, #ffffff 100%, #152c6b 100%);
    background-image: -webkit-linear-gradient(0deg, #ffffff 100%, #152c6b 100%);
    background-image: linear-gradient(90deg, #ffffff 100%, #152c6b 100%);
  }
}
.contacts-wrapper .title {
  font-family: FuturaExtra, sans-serif;
  text-transform: uppercase;
}

.location {
  padding: 0;
}
.location .location-top-part, .location .location-bottom-part {
  padding-left: 2.5rem;
}
@media (max-width: 74.99em) {
  .location .location-top-part, .location .location-bottom-part {
    padding-left: 0;
    text-align: center;
  }
}
.location .location-top-part {
  border-bottom: 1px solid #d5dce2;
}
.location .title {
  padding: 4.4375rem 0 2.0625rem 0;
  font-size: 3rem;
  color: #152c6b;
}
@media (max-width: 74.99em) {
  .location .title {
    text-align: center;
  }
}
.location .location-list {
  padding: 0 0 2.5rem 1.25rem;
}
@media (max-width: 74.99em) {
  .location .location-list {
    padding-left: 0;
    display: table;
    margin: 0 auto;
  }
}
.location .location-list li {
  width: 94%;
  font-family: Lato, sans-serif;
  font-size: 1.125rem;
  color: #152c6b;
}
.location .location-list li i {
  margin-right: 0.9375rem;
  font-size: 1.5rem;
}
.location .location-list li:nth-child(1) {
  margin-bottom: 0.6875rem;
}
.location .location-list li:nth-child(2) {
  float: right;
}
@media (max-width: 74.99em) {
  .location .location-list li:nth-child(2) {
    margin-left: 0;
  }
}
.location .location-bottom-part {
  padding-bottom: 3.75rem;
}
.location .location-bottom-part:before {
  content: " ";
  background-image: url(../img/circles.png);
  background-size: cover;
  width: 234px;
  height: 209px;
  position: absolute;
  right: 0;
  bottom: 6.25rem;
  margin-right: 4.875rem;
}
@media (max-width: 61.99em) {
  .location .location-bottom-part:before {
    display: none;
  }
}
.location .location-bottom-part .social-media {
  padding: 3rem 0 0 1.25rem;
}
.location .location-bottom-part .social-media li {
  padding: 0.625rem 0;
  font-family: Lato, sans-serif;
  font-size: 1.125rem;
  color: #03385d;
}
.location .location-bottom-part .social-media li i {
  padding-right: 0.625rem;
  font-size: 1.25rem;
}
@media (max-width: 74.99em) {
  .location .location-bottom-part .social-media {
    padding-left: 0;
  }
}

.messages {
  padding-bottom: 3.75rem;
  background-color: #152c6b;
}
.messages .title {
  padding: 5.0625rem 0 0.3125rem 3.75rem;
  font-size: 2.25rem;
  color: #fff;
}
@media (max-width: 74.99em) {
  .messages .title {
    padding-left: 0;
    text-align: center;
  }
}
.messages .title:after {
  content: " ";
  background-image: url(../img/dashed-circles.png);
  background-size: cover;
  width: 67px;
  height: 65px;
  position: absolute;
  top: 3.4375rem;
  right: 6.25rem;
}
@media (max-width: 47.99em) {
  .messages .title:after {
    display: none;
  }
}
.messages .form {
  padding-left: 3.4375rem;
}
@media (max-width: 47.99em) {
  .messages .form {
    padding-left: 0;
  }
}
.messages .form input {
  display: block;
  width: 83%;
  height: 3.125rem;
  margin: 0 0 0.9375rem 0;
  border: none;
  border-bottom: 1px solid #555b7b;
  font-family: Lato, sans-serif;
  font-size: 1.125rem;
  background-color: transparent;
  color: #52f9ff;
  outline: 0;
}
.messages .form input:-moz-placeholder {
  color: #fff;
}
.messages .form input::-moz-placeholder {
  color: #fff;
}
.messages .form input:-ms-input-placeholder {
  color: #fff;
}
.messages .form input::-webkit-input-placeholder {
  color: #fff;
}
.messages .form .user-name {
  padding: 0.5rem 0;
  font-size: 0.875rem;
}

.footer-wrapper {
  padding: 3.125rem 0 2.5rem 0;
  background-color: #152c6b;
}

.footer-logo, .footer-social-icons {
  margin-top: 0.875rem;
}

.footer-logo .title {
  text-align: center;
  font-family: FuturaExtra, sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
}
.footer-logo .title span {
  color: #52f9ff;
}

.footer-map iframe {
  width: 100%;
  height: 390px;
  border: 0;
}

.footer-social-icons ul {
  display: table;
  margin: 0 auto;
}
.footer-social-icons ul li {
  display: inline-block;
  margin: 0 0.4375rem;
}
.footer-social-icons ul li i {
  font-size: 1.25rem;
  color: #fff;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.footer-social-icons ul li i:hover {
  color: #52f9ff;
}
