@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto&subset=latin-ext');

@font-face {
    font-family: Futura;
    src: url(../fonts/FuturaPTBold.otf);
}

@font-face {
    font-family: FuturaExtra;
    src: url(../fonts/FuturaPTExtraBold.otf);
}

@font-face {
    font-family: Supply;
    src: url(../fonts/Supply-Regular.otf);
}

@mixin futura-extra {
	font-family: FuturaExtra, sans-serif;
}

@mixin futura {
	font-family: Futura, sans-serif;
}

@mixin lato {
	font-family: Lato, sans-serif;
}

@mixin supply {
	font-family: Supply, sans-serif;
}

@mixin thin {
	font-weight: 200;
}

@mixin normal {
	font-weight: 400;
}

@mixin semibold {
	font-weight: 600;
}

@mixin bold {
	font-weight: 700;
}

@mixin extrabold {
	font-weight: 900;
}