// Here is "Participa" button

.header-logo {
	.register-button {
		display: inline-block;
		margin: rem(36px 0 60px 38px);
		padding: rem(22px 66px);
		border: 2px solid #fff;
		@include border-radius(31px);
		@include lato;
		@include font-size(18px);
		line-height: 0.7;
		text-decoration: none;
		color: #fff;
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in);
// Responsive
		@include mq($until: wide) {
			display: table;
			margin: rem(36px auto 60px auto);
		}
		&:hover {
			background-color: #fff;
			color:  #52f9ff;
		}
	}
}

// Here is "Send message" button

.form {
	.submit-button {
		margin-top: rem(17px);
		padding: rem(10px 24px);
		border: 2px solid #fff;
		@include border-radius(20px);
		@include lato;
		text-align: center;
		@include font-size(13px);
		text-transform: uppercase;
		background-color: rgba(0, 0, 0, 0);
		color: #fff;
		cursor: pointer;
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in);
// Responsive 
		@include mq($until: wide) {
			margin-bottom: rem(85px);
		}	
		&:hover {
			background-color: #fff;
			color: #152c6b;
		}
		i {
			margin-right: rem(10px)
		}
	}
}


// Agenda Button
	.agenda-button {
		display: table;
		margin: rem(102px auto 0 auto);
		padding: rem(9px 25px);
		border: 2px solid #152c6b;
		@include border-radius(31px);
		@include supply;
		text-align: center;
		@include font-size(24px);
		line-height: rem(30px);
		text-decoration: none;
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in);
		cursor: pointer;
		color: #152c6b;			
		&:hover {
			color: #fff;
			background-color: #152c6b;
		}
// Responsive
		@include mq($until: wide) {
			margin: 0 auto;
		}
		@include mq($until: tablet) {
			@include font-size(20px);
		}
}

// Footer input 
.footer-input {
	form {
		.submit-button {
			width: 28%;
			height: rem(48px);
			@include border-radius(0 24px 24px 0);
			text-align: center;
			@include lato;
			@include font-size(16px);
			background-color: #52f9ff;
			color: #fff;
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in);
			&:hover {
				background-color: #fff;
				color: #52f9ff;
			}
// Responsive 
			@include mq($until: wide) {
				width: 20%;
				margin-left: rem(-4px);
			}
			@include mq($until: tablet) {
				width: 28%;
			}
		}
	}
}