.slider-wrapper {
	position: relative;
// Responsive 
	@include mq($until: wide) {
		margin-top: rem(55px);
	}
}

.owl-dots {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
// Responsive 
	@include mq($until: tablet) {
		display: none;
	}
}
.owl-dot {
	display: inline-block;
	margin: rem(65px 30px);
// Responsive 
	@include mq($until: desktop) {
		margin: rem(65px 20px);
	}
	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
	span {
		display: inline-block;
		@include supply;
		@include font-size(28px);
		text : {
			transform: uppercase;
			decoration: line-through;
		}
		color: #9494ac;
// Responsive 
		@include mq($until: desktop) {
			@include font-size(23px);
		}
		&:before, &:after {
			content: "\00a0";
		}
	}
}

.active {
	span {
		@include transition-duration(0.3s);
		@include transition-timing-function(ease-in);
		text-decoration: none;
		color: #fff;
	}
}

.owl-item {
	background-color: #4461ad;
	height: rem(590px);
// Responsive 
	@include mq($until: tablet) {
		height: rem(420px);
	}
}

.carousel-slot {
	@include clearfix;
}

.slider-inner {
	position: absolute;
	width: 1170px;
	left: 0;
	right: 0;
	z-index: 2;
	margin: 0 auto;
	padding-top: rem(218px);
// Responsive 
		@include mq($until: wide) {
			position: static;
			width: 100%;
			padding-top: rem(50px);
		}
		@include mq($until: tablet) {
			padding-top: rem(20px);
		}
	.title, .sub-title {
		text-transform: uppercase;
		color: #fff;
	}
	.title, .sub-title, .date {
// Responsive 
		@include mq($until: wide) {
			display: block;
			text-align: center;
		}
	}
	.sub-title, .date {
		@include supply;
	}
	.title, .date {
		padding-left: rem(25px);
		line-height: 0.85;
// Responsive 
		@include mq($until: wide) {
			padding-left: 0;
		}
	}
	.title {
		@include futura-extra;
		@include font-size(60px);
		@include mq ($until: tablet) {
			@include font-size(47px);
		}
	}
	.date {
		@include font-size(28px);
		color: #9494ac;
// Responsive 
		@include mq($until: wide) {
			padding-top: rem(10px);
		}
	}
	.sub-title {
		padding-top: rem(30px);
		@include font-size(57px);
		float: right;
// Responsive 
		@include mq ($until: wide) {
			float: none;
			padding-top: rem(20px);
		}
		@include mq ($until: tablet) {
			float: none;
			padding-top: rem(10px);
			@include font-size(45px);
		}
	}
	.description {
		display: block;
		width: 100%;
		margin-top: rem(30px);
		@include lato;
		@include font-size(22px);
		text-align: right;
		line-height: 1.3;
		color: #fff;
// Responsive 
		@include mq ($until: wide) {
			text-align: center;
		}
		@include mq ($until: tablet) {
			margin-top: rem(15px);
			@include font-size(16px);
		}
	}
}

.background {
	&-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10 {
		background : {
			position: bottom;
			repeat: no-repeat;
			size: cover!important;
			color: #4461ad;
		}
		height: rem(590px);
// Responsive 
		@include mq($until: tablet) {
			height: rem(420px);
		}
	}


// **************************************************
// Here you should insert background-images for slider


	&-1 {
		@include background-image(linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url(../img/web.png));
	}
	&-2 {
		 @include background-image(linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url(../img/apps.png));
	}
	&-3 {
		@include background-image(linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url(../img/vr.png));
	}
	&-4 {
		@include background-image(linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url(../img/3d.png));
	}
	&-5 {
		@include background-image(linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url(../img/big-data.png));
	}
	&-6 {
		@include background-image(linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url(../img/workshop.png));
	}
	&-7 {
		@include background-image(linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url(../img/hackathon.png));
	}
}