.agenda-wrapper {
	border-top: 1px solid #d5dce2;
}
.agenda {
	padding-bottom: rem(12px);
}
.agenda-details {
	padding-left: rem(40px);
// Responsive 
	@include mq($until: wide) {
		padding: 0;
	}
	&:last-child {
		padding-left: 0;
	}
	.agenda-info, .session-info li, .session-info li a {
		color: #9494ac;
		@include supply;
		text-transform: uppercase;
	}
	.agenda-info, .title, .session-info {
// Responsive
		@include mq($until: wide) {
			text-align: center;
		}
	}
	.agenda-info {
		padding: rem(55px 0 0 0);
		@include font-size(18px);
	}
	.title {
		padding: rem(28px 0 0 0);
		@include futura-extra;
		@include font-size(48px);
		@include bold;
		text-transform: uppercase;
		color: #152c6b;
	}
	.session-info {
		padding: rem(23px 0 58px 0);
// Responsive 
		@include mq($until: tablet) {
			padding-bottom: rem(30px);
		}
		li {
			display: inline-block;
			@include font-size(18px);
// Responsive
			@include mq($until: tablet) {
				display: block;
				margin: rem(10px 0);
			}
			a {
				vertical-align: top;
				text-decoration: none;
				text-transform: lowercase;
				@include transition-duration(0.2s);
				@include transition-timing-function(ease-in);
				&:hover {
					color: #152c6b;
				}
			}
		}
		.separator {
			margin: rem(0 10px);
// Responsive
			@include mq($until: tablet) {
				display: none;
			}
		}
	}
}

.agenda-schedule {
	width: 100%;
}

.agenda-2 {
	padding: rem(15px 0 0 0);
}

.page {
	@include container;
}
.overlay, .promo-links {
	@include column( (small : 12, tablet: 12, wide: 6) );
}
 