.footer-wrapper {
	padding: rem(50px 0 40px 0);
	background-color: #152c6b;
}

.footer-logo, .footer-social-icons {
	margin-top: rem(14px);
}

.footer-logo {
	.title {
		text-align: center;
		@include futura-extra;
		@include font-size(24px);
		text-transform: uppercase;
		color: #fff;
		span {
			color: #52f9ff;
		}
	}
}

.footer-map {
	iframe {
		width: 100%;
		height: 390px;
		border: 0;
	}
}

.footer-social-icons {
	ul {
		display: table;
		margin: 0 auto;
		li {
			display: inline-block;
			margin: rem(0 7px);
			i {
				@include font-size(20px);
				color: #fff;
				@include transition-duration(0.2s);
				@include transition-timing-function(ease-in);
				&:hover {
					color: #52f9ff;	
				}
			}
		}
	}
}