.header {
	&-top-wrapper {
		border-bottom: 1px solid #d5dce2;
	}
	padding: 0;
	@include row;
		@include background-image(linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url(../img/background.png));	
	background : {
		size: cover;
		position: center;
	}
	&-logo {
		padding: rem(230px 0 0 0);
		border-right: 1px solid #d5dce2;
// Responsive 
		@include mq($until: wide) {
			border: none;
			padding: rem(100px 0 0 0);
		}
		.title, .sub-title {
			color: #fff;
		}
		.title {
			@include futura-extra;
			text-transform: uppercase;
			@include bold;
			text-align: center;
			span {
				color:  #52f9ff;
			}
		}
		.sub-title {
			display: block;
			margin: rem(23px 0 0 38px);
			@include lato;
			line-height: 1.35;
			@include bold;
// Responsive
			@include mq($until: wide) {
				margin: rem(23px auto 0 auto);
				padding: rem(0 15px);
				text-align: center;
			}
		}
	}
}

.nav {
	@include clearfix;
}

.social-nav {
	padding: rem(20px 15px 20px 25px);
	border-right: 1px solid #d5dce2;
// Responsive 
	@include mq($until: wide) {
		border: none;
	}
	li { 
		display: inline-block;
		margin: rem(0 5px);
		a {
			padding: rem(0 5px);
		}
		i {
			@include font-size(20px);
			color: #fff;
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in);
			&:hover {
				color: #52f9ff;	
			}
		}
	}
}

.location-wrapper {
	border : {
		top: 1px solid #d5dce2;
		bottom: 1px solid #d5dce2;
	}
	margin: rem(0 0 60px 0);
	ul {
		display: table;
		margin: 0 auto;
		padding: rem(32px 0);
		li {
			display: inline-block;
			@include supply;
			@include font-size(18px);
			color: #fff;
// Responsive
			@include mq($until: tablet) {
				display: block;
				margin: rem(5px 0);
			}
		}
		.slash {
			margin: rem(0 20px);
// Responsive
			@include mq($until: tablet) {
				display: none;
			}
		}
	}
}

.logo-squares {
	margin: rem(66px 0 0 0);
	border-top: 1px solid #d5dce2;
	padding: rem(157px 0 0 0);
// Responsive
	@include mq($until: wide) {
		margin: 0;
		padding: rem(0 0 60px 0);
		border: none;
	}
	.wrapper {
		&-1, &-2 {
// Responsive 
		@include mq($until: tablet) {
			width: 146px;
			border: 2px solid #fff;
			}
		}
 		&-1 {
// Responsive 
		@include mq($until: tablet) {
			float: right;
			}
 		}
		&-2 {
// Responsive 
		@include mq($until: tablet) {
			float: left;
			position: relative;
			right: rem(2px);
			}
		}
	}
	ul {
		width: 399px;
		display: table;
		margin: 0 auto;
// Responsive
		@include mq($until: tablet) {
			 width: 95%;
		}
		li {
			position: relative;
			display: block;
			border: 2px solid #fff;
// Responsive 
			@include mq($until: tablet) {
				border: none;
			}
			span {
				display: block;
				color: #fff;
			}
			.titles {
				padding: rem(110px 0 0 0);
// Responsive 
			@include mq($until: tablet) {
				 padding: rem(88px 0 10px 10px);
			}
			}
			.number, .sub-title {
				@include lato;
				@include font-size(18px);
			}
			.number {
				position: absolute;
				right: 0;
				padding: rem(0 15px 0 0);
				@include bold;
// Responsive 
			@include mq($until: tablet) {
				padding: rem(10px 10px 0 0);
			}
			}
			.title {
				@include futura;
				@include font-size(30px);
				@include bold;
				text-transform: uppercase;
			}
		}
		.first-square {
			float: left;
			padding: rem(15px 52px 23px 27px);
// Responsive 
			@include mq($until: tablet) {
				width: 50%;
				padding: 0; 
			}
		}
		.second-square {
			bottom: rem(2px);
			float: right;
			clear: left;
			padding: rem(15px 96px 23px 27px);
// Responsive 
			@include mq($until: tablet) {
				width: 50%;
				padding: 0;
			}
		}
	}
}