.header, 
.agenda-wrapper,
.contacts-wrapper,
.footer-wrapper {
	@include container-fluid;
}

.footer {
	@include container;
}

.footer-logo, .footer-social-icons {
	@include column( (small : 12, tablet: 12, wide: 3) );
}

.footer-input {
	@include column( (small : 12, tablet: 12, wide: 6) );
}

.agenda, 
.inspiration-wrapper, 
.sponsors-section, 
.header-bottom-wrapper, 
.nav-wrapper,
.contacts, {
	@include container;
	border : {
		left: 1px solid #d5dce2;
		right: 1px solid #d5dce2;
	}
// Responsive 
@include mq($until: wide) {
	border: none;
}
}

.header-logo, 
.social-nav, 
.logo-squares, 
.agenda-details,
.inspiration-wrapper .quote-author-wrapper, 
.inspiration-wrapper .quote-wrapper,
.location,
.messages,
.support-wrapper,
.partners-wrapper {
	@include column( (small : 12, tablet: 12, wide: 6) );
}

.slider-column {
	&-1 {
		@include column( (small : 12, tablet: 12, wide: 6) );
	}
	&-2 {
		@include column( (small : 12, tablet: 12, wide: 6) );
	}
	&-3	{
		@include column( (small : 12, tablet: 12, wide: 12) );
	}
}