.contacts-wrapper {
	@include background-image(linear-gradient(90deg, #fff 50%, #152c6b 50%));
// Responsive 
	@include mq($until: wide) {
		padding: 0;
		@include background-image(linear-gradient(90deg, #fff 100%, #152c6b 100%));
	}
	.title {
		@include futura-extra;
		text-transform: uppercase;
	}
}

.location {
	padding: 0;
	.location-top-part, .location-bottom-part {
		padding-left: rem(40px);
// Responsive 
		@include mq($until: wide) {
			padding-left: 0;
			text-align: center;
		}
	}
	.location-top-part {
		border-bottom: 1px solid #d5dce2;
	}
	.title {
		padding: rem(71px 0 33px 0);
		@include font-size(48px);
		color: #152c6b;
// Responsive 
		@include mq($until: wide) {
			text-align: center;
		}
	}
	.location-list {
		padding: rem(0 0 40px 20px);
// Responsive 
		@include mq($until: wide) {
			padding-left: 0;
			display: table;
			margin: 0 auto;
		}
		li {
			width: 94%;
			@include lato;
			@include font-size(18px);
			color: #152c6b;
			i {
				margin-right: rem(15px);
				@include font-size(24px);
			}
			&:nth-child(1) {
				margin-bottom: rem(11px);
			}
			&:nth-child(2) {
				float: right;
// Responsive 
				@include mq($until: wide) {
					margin-left: 0;
				}
			}
		}
	}
	.location-bottom-part {
		padding-bottom: rem(60px);
		&:before {
			content: " ";
			background: {
				image: url(../img/circles.png);
				size: cover;
			}
			width: 234px;
			height: 209px;
			position: absolute;
			right: 0;
			bottom: rem(100px);
			margin-right: rem(78px);
// Responsive 
			@include mq($until: desktop) {
				display: none;
			}	
		}
		.social-media {
			padding: rem(48px 0 0 20px);
			li {
				padding: rem(10px 0);
				@include lato;
				@include font-size(18px);
				color: #03385d;
				i {
					padding-right: rem(10px);
					@include font-size(20px);
				}
			}
// Responsive 
			@include mq($until: wide) {
				padding-left: 0;
			}	
		}
	}
}

.messages {
	padding-bottom: rem(60px);
	background-color: #152c6b;
	.title {
		padding: rem(81px 0 5px 60px);
		@include font-size(36px);
		color: #fff;
// Responsive 
			@include mq($until: wide) {
				padding-left: 0;
				text-align: center;
			}
		&:after {
			content: " ";
			background: {
				image: url(../img/dashed-circles.png);
				size: cover;
			}
			width: 67px;
			height: 65px;
			position: absolute;
			top: rem(55px);
			right: rem(100px);
// Responsive 
			@include mq($until: tablet) {
				display: none;
			}	
		}
	}
	.form {
		padding-left: rem(55px);
// Responsive 
		@include mq($until: tablet) {
			padding-left: 0;
		}
		input {
			display: block;
			width: 83%;
			height: rem(50px);
			margin: rem(0 0 15px 0);
			border: none;
			border-bottom: 1px solid #555b7b;
			@include lato;
			@include font-size(18px);
			background-color: rgba(0, 0, 0, 0);
			color: #52f9ff;
			outline: 0;
			@include input-placeholder {
				color: #fff;
			}
		}
		.user-name {
			padding: rem(8px 0);
			@include font-size(14px);
		}
	}
}