.sponsors-section {
	.support, .partners-wrapper {
		height: rem(250px);
		display: table;
// Responsive
		@include mq($until: wide) {
			padding: rem(30px 0);
			height: rem(175px);
		}
		.title, .list {
			display: table-cell;
// Responsive
		@include mq($until: wide) {
			display: initial;
			}
		}
		.title {
			width: 250px;
			vertical-align: middle;
			@include supply;
			@include font-size(18px);
			@include normal;
			text-transform: uppercase;
			color: #152c6b;
// Responsive
			@include mq($until: wide) {
				display: block;
				width: 100%;
				@include font-size(24px);
				text-align: center;
			}
		}
		.list {
			vertical-align: middle;
			text-align: center;
// Responsive
			@include mq($until: wide) {
				display: table;
				margin: rem(20px auto 0 auto);
			}
			li {
				display: inline-block;
				text-align: center;
// Responsive
				@include mq($until: wide) {
					width: 50%;
				}
				img {
					margin-right: rem(25px);
// Responsive
					@include mq($until: wide) {
						margin: 0;
						padding: rem(0 15px);
					}
					@include mq($until: tablet) {
						margin: 0;
						padding: rem(0 15px);
					}
				}
			}
		}
	}
	.strategy {
			margin-top: rem(88px);
			@include mq($until: wide) {
				margin: rem(30px 0);
			}
			ul.list {
				li {
				vertical-align: initial;
// Responsive
				@include mq($until: tablet) {
					display: table-cell;
				}
			}
			img {
				width: rem(90px);
				@include mq($until: wide) {
					width: 35%;	 
				}
				 @include mq($until: tablet) {
					width: 40%;
				}
			}
		}
	}
	.support {
// Responsive
	@include mq($until: wide) {
		display: inherit;
	}
	ul.list {
		li {
			vertical-align: initial;
// Responsive
			@include mq($until: tablet) {
				display: table-cell;
				}
			}
			.support-row {
				width: initial;
			}
			img {
				width: rem(120px);
				@include mq($until: tablet) {
					width: 40%;
				}
			}
		}
	}
	.partners-wrapper {
		.partners {
			margin-top: rem(20px);
		}
		ul {
			li {
				vertical-align: middle;
				}
			img {
				width: rem(121px);
// Responsive
				@include mq($until: wide) {
					width: 20%;	 
				}
				@include mq($until: tablet) {
					width: 30%;
				}
			}
		}
	}
}

.support-wrapper {
	@include clearfix;
	border-right: 1px solid #d5dce2;
	padding-bottom: rem(50px);
// Responsive
	@include mq($until: wide) {
		border: none;
	}
	@include mq($until: tablet) {
		padding-bottom: 0;
	}
}