.inspiration-wrapper {
	.quote-author-wrapper, .quote-wrapper {
		padding: rem(130px 85px 51px 57px);
	}
	.quote-author-wrapper {
		padding-left: rem(45px);
		border-right: 1px solid #d5dce2;
// Responsive 
		@include mq($until: wide) {
			float: none;
			border: none;
			padding: rem(72px 0 0 0);
			text-align: center;
		}
		.quote-author {
// Responsive 
			@include mq($until: wide) {
				display: inline-block;
			}
		}
		.quote-author-item {
			display: table-cell;
			vertical-align: middle;
// Responsive 
			@include mq($until: wide) {
				text-align: left;
			}
			@include mq($until: tablet) {
				display: block;
			}
		}
		img {
			max-width: rem(245px);
			padding: rem(15px);
			border: 1px solid #d5dce4;
			@include border-radius(50%);
// Responsive 
			@include mq($until: tablet) {
				display: block;
				margin: 0 auto;
			}
		}
		.author-information li, .author-name, .quote {
			@include lato;
			color: #152b6b;
		}
		.author-name {
			@include bold;
			@include font-size(24px);
			line-height: rem(36px);
		}
		.author-information {
			li {
				@include font-size(18px);
				line-height: rem(30px);
				a {
					color: #152b6b;
				}
			}
		}
		.author-details {
			padding-left: rem(35px);
// Responsive 
			@include mq($until: tablet) {
				display: block;
				padding: 0;
				text-align: center;
			}
		}
		.circle-list {
			margin: rem(31px 0 0 0);
			li {
				display: inline-block;
				width: 9px;
				height: 9px;
				margin: rem(0 5px);
				@include border-radius(50%);
				background-color: #d5dce4;
			}
		}
	}
	.quote-wrapper {
		position: relative;
		left: rem(-1px);
		border-left: 1px solid #d5dce2;
// Responsive
		@include mq($until: wide) {
			padding: rem(50px 60px 51px 60px);
		}
		@include mq($until: tablet) {
			padding: rem(50px 20px 51px 20px);
		}
		.quote {
			@include lato;
			line-height: rem(40px);
			color: #152b6b;
		}
		.triangle {
			width: 0;
			height: 0;
			position: absolute;
			left: 0;
			top: 50%;
			@include transform(translateY(50%));
			border : {
				top: 24px solid rgba(0, 0, 0, 0);
				left: 24px solid #d5dce4;
				bottom: 24px solid rgba(0, 0, 0, 0);
			}
// Responsive 
			@include mq($until: wide) {
				display: none;
			}
		}
	}
}